<%- include('partials/header') %>
    <div class="topnav" id="myTopnav">
        <a class="nav-item" href="/">Home</a>
        <a class="nav-item" href="/hospital">Hospitals</a>
        <a class="nav-item  active" href="/dr">Doctors</a>
        <a class="nav-item" href="/ambulance">Ambulance</a>
        <a class="nav-item" href="/covidTracker">Covid Updates</a>
        <a class="nav-item" class="logo" href="/drform"><img src="/static/icons/doctor.png" /></a>
        <a class="nav-item" class="logo" href="/hospform"><img src="/static/icons/hospital.png" /></a>
        <a href="/logout" class="button-logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars" style="font-size:150%"></i>
        </a>

    </div>

    <div onclick="topFunction()" id="myBtn" class="go-top">
        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_LDS3JQ.json" background="transparent" speed="1" style="width: 50px; height: 50px" loop autoplay></lottie-player>
    </div>
    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_iivslabn.json" background="transparent" mode="bounce" speed="0.5" class="lottie-1" loop autoplay></lottie-player>

    <div class="Home1">

        <% hosp.forEach(function(image) { %>
            <div class="container mt-5 d-flex justify-content-center">
                <div class="doccard p-3">
                    <div class="d-flex align-items-center">

                        <div class="docimage"> <img src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>" alt="Card image cap" class="rounded" width="155"> </div>
                        <div class="ml-3 w-100 contentCard">
                            <h4 class="mb-0 mt-0">
                                <%= image.drName %>
                            </h4>
                            <h5>
                                <%= image.workAddress %>
                            </h5> <span>
                                <%= image.fieldexpertise %>
                            </span>
                            <div class="p-2 mt-2 d-flex justify-content-between rounded text-white stats docContent">
                                <div class="d-flex  box1"> <span class="articles">email</span> <span class="number1">
                                        <%= image.email %>
                                    </span> </div>
                                <div class="d-flex  box1"> <span class="articles">phone</span> <span class="number1">
                                        <%= image.phone %>
                                    </span> </div>
                                <div class="d-flex  box1"> <span class="articles">Experience</span> <span class="number1">
                                        <%= image.workExp %>
                                    </span> </div>
                            </div>
                            <div class="button mt-2 d-flex flex-row align-items-center"> <button class="btn btn-sm btn-outline-primary w-100">Contact</button> </div>
                        </div>
                    </div>
                </div>
            </div>
            <%});%>
    </div>

    <script src="/static/homepage.js"></script>


    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script>
        mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>
    <%- include('partials/footer') %>